/* RESET CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* AD MAKER STYLING */

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* - NAV -  */

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: coral;
  height: 50px;
  padding: 0 50px;
}

.title {
  text-align: left;
  font-weight: bold;
  margin-bottom: 20px;
}

.title-no-margin {
  text-align: left;
  font-weight: bold;
}

/* - HOME - */

.success-message {
  text-align: center;
  background-color:powderblue;
  padding: 5px 0;
  position:absolute;
  width: 100%;
}

.products {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 30%;
  justify-content: space-around;
  padding: 50px;
}

.product-card {
  max-width: 250px;
  margin: 20px;
}

.product-name {
  font-weight: bold;
  padding-left: 0;
}

.product-description {
  margin: 20px 0;
  line-height: 1.4;
}

.product-image {
  max-width: 100%;
}

/* - READ ADS - */

.ads-header {
  border: 1px black solid;
}

.no-ads {
  margin: 50px 0;
}

.ads {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  text-align: center;
}

.ad {
  border: 1px black solid;
}


/* - AD FORMS -  */

.ad-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 20px 0;
}

fieldset {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

label {
  margin-bottom: 10px;
}

input {
  height: 35px;
  font-size: 16px;
}

textarea {
  height: 100px;
  font-size: 16px;
}

/* - DELETE MODAL -  */

.delete-modal {
  position: absolute;
  border: 1px solid coral;
  border-radius: 5px;
  background-color: white;
  padding: 50px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.modal-text {
  margin-bottom: 20px;
}

.modal-controls {
  display: flex;
  justify-content: space-around;
}

/* - CTAS - */

.button {
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  width: 125px;
  font-size: 16px;
  text-decoration: none;
  color: black;
}

.primary{
  padding: 12px 6px;
  background-color: coral;
}

.secondary{
  padding: 10px 6px;
  background-color: white;
  border: 1px solid black;
}

.link {
  text-decoration: none;
  color: black;
  padding: 5px 0;
  max-width: 140px;
}

.link:hover {
  border-bottom: 1px black solid;
}